* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  cursor: none;
}
@media all and (min-width: 768) {
  body {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
